---
BasedOnStyle: Microsoft
---
Language: Cpp
ColumnLimit: 120
IndentWidth: 4
InsertNewlineAtEOF: true
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: Always
AllowShortBlocksOnASingleLine: Empty
IndentAccessModifiers: true
IndentCaseLabels: true
SortIncludes: CaseInsensitive
PointerAlignment: Left
ReferenceAlignment: Left
